.topBar {
  position: relative;
  background: #f5f5f5;
  padding: 8px 0;
  z-index: 1;
}

.topBarContainer {
  max-width: 100%;
}

.topBarContainerInner {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header {
}

.headerContainer {
}

.headerContainerInner {
}

.mainMenu {
}

.headerLogo {
}

.headerRight {
}
